* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body,
html {
    font-size: 18px;
   
        overflow-x: hidden;
    
    
}

h2 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    ;
}

h3 {
    font-size: 24px;
}

a {
    font-size: 14px;
}


/* header start */

header {
    background: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.479)), url("../imgs/header.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: top;
}

.header-content {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.header-text p,
.meet-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
}

.header-text h1 {
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0;
    border: 1px solid #fff;
    padding: 10px 30px;
    font-size: 48px;
    letter-spacing: 0.1em;
}

.header-text p::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #c59a6d;
    margin: 30px auto;
}



nav.menu i {
    position: absolute;
    left: 0px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-left: 10%;
}

.clearboth {
    clear: both;
}

.service-icon {
    width: 40px;
    align-items: center;
    margin: auto;
    clear: both;
    margin-bottom: 100px;
    padding-left: 15px;
}

.service-icon i {
    align-items: center;
    margin-top: 100px;
    text-align: center;
}

.service-icon i,
.meet-icon i,
.service-icon i {
    border: 1px solid #c59a6d;
    padding: 4px 10px;
    font-size: 24px;
    transition: 300ms all;
    cursor: pointer;
    color: #c59a6d;
}

.header-icon i:hover,
.meet-icon i:hover,
.service-icon i:hover {
    background-color: #c59a6d;
    color: #fff;
}

#meet,
#service {
    padding: 90px 0;
    align-items: center;
    justify-content: center;
}

.meet,
.service {
    text-align: center;
    width: 56%;
    margin: auto;
}

.meet-text h2::after,
.service-text h2::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #c59a6d;
    margin: 30px auto;
}

.meet-text p,
.service-text p {
    width: 66%;
    margin: 0 auto;
    margin-bottom: 50px;
}


/* video start */

#video {
    background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), url("../imgs/videothump.jpg") no-repeat center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: top;
}

.video i {
    font-size: 36px;
    color: #fff;
    transition: 200ms all;
    cursor: pointer;
}

.video i:hover {
    font-size: 48px;
}


/* services*/


/*
.servicebox {
    border: 1.5px solid #8e9297;
    padding: 40px 10px;
  
    width: 250px;
    height: 320px;
    
    color:#8e9297;
    text-align: center;
}*/

.servicebox h1 {
    padding: 30px;
    font-size: 20px;
}

.servicebox p {
    margin-top: -10px;
    font-size: 18px;
    width: 100%;
    line-height: 1.5;
    text-align: center;
}

.servicebox i {
    padding: 4px 10px;
    font-size: 44px;
    transition: 300ms all;
    cursor: pointer;
}

.servicebox.golden p {
    margin-top: -10px;
    font-size: 18px;
    width: 100%;
    line-height: 1.5;
}

.servicebox.golden i {
    padding-top: 40px;
    font-size: 44px;
    transition: 300ms all;
    cursor: pointer;
    color: #c59a6d;
}

.serviceboxcontainer {
    /*width: calc(100% - 100px); */
    width: 80%;;
    margin: 0 auto;
    display: flex;
}


.servicebox {
   
 
    border: 1.5px solid #8e9297;
    padding: 40px 10px;
    gap: 12px;
    width: 100% ;
    
    height: 320px;
    margin-left: 20px;
    color: #8e9297;
    text-align: center;
}

.servicebox.golden {
    border: 0.1rem solid #c59a6d;
    padding-top: 45px;
    width: 30%;
    height: 400px;
    margin-top: -40px;
    color: #111111;
    text-align: center;
}

.servicebox.golden h1 {
    padding: 30px;
    font-size: 20px;
    color: #c59a6d;
}
@media only screen and (max-width: 900px)
{
    .serviceboxcontainer{
        flex-direction: column;
        margin:0 auto;
        align-items: center;
    }
    .servicebox{
        margin-bottom:100px;
        width: 50% !important;
        
       
    }
    .serviceboxcontainer h1{
        font-size:15px;
    }
    .serviceboxcontainer p{
        font-size:14px;
    }
    .servicebox.golden h1{
        font-size:15px !important;
        margin-left:-20px;
     
    }
    .servicebox.golden p{
        font-size:14px !important;
       
        
    }

    .servicebox:nth-last-child(2)
    {
        margin-bottom:60px;
    }
  }



/* check our shop */

.OurShopBanner {
    height: 140px;
    background-color: #282f35;
    width: 100%;
    display: flex;
    align-items: center;
}

.CheckOurShop {
    border: 1px solid #c59a6d;
    height: 40px;
    width: 200px;
    margin: auto;
}

.CheckOurShop p {
    font-size: 15px;
    font-weight: 300;
    color: white;
    line-height: 36px;
    justify-content: center;
    text-align: center;
}

.empty {
    clear: both;
    margin-bottom: 100px;
}



.showroom {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 140px;
    /* center items horizontally, in this case */
}
@media only screen and (max-width: 900px) {
    .showroom{
      flex-direction: column;
   }

}

.showroomIMG {
    padding: 0;
    width: 360px;
    height: 360px;
}

.showroomIMG:nth-child(1) {
    background-image: url("../imgs/1.jpg");
}

.showroomIMG:nth-child(2) {
    background-image: url("../imgs/2.jpg");
}

.showroomIMG:nth-child(3) {
    background-image: url("../imgs/3.jpg");
}

.showroomIMG:nth-child(4) {
    background-image: url("../imgs/4.jpg");
}

.showroomIMG:nth-child(5) {
    background-image: url("../imgs/5.jpg");
}

.showroomIMG h1 {
    color: white;
    font-weight: 400;
    font-size: large;
    display: none;
    transition: 300ms;
    justify-content: center;
    text-align: center;
    margin-top: 40%;
}

.showroomIMG p {
    color: #c59a6d;
    font-weight: 600;
    display: none;
    transition: 300ms;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    margin-top: 20px;
}

.showroomIMG p::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #c59a6d;
    margin: 30px auto;
}

.showroomIMG:hover {
    background-image: url('');
    background-color: #282f35;
    transition: 300ms;
    justify-content: center;
    text-align: center;
    color: white;
}

.showroomIMG:hover p{
    display: block;
}
.showroomIMG:hover h1{
    display: block;
}

.MoreButton{
    width:300px;
    height:40px;
    background-color: #c59a6d;
    color:white;
    font-size: 20px;
    font-weight: 400;
    margin:auto;
    line-height: 40px;
    align-items: center;
    text-align:center;
    margin-bottom:50px;
}
.DownContainer{
    
    width:100%;
    align-items: center;
    align-content: center;
    text-align: center;
}
.DownContainer i{
    margin: auto;
    border: 1px solid #c59a6d;
    padding: 4px 10px;
    font-size: 24px;
    transition: 300ms all;
    cursor: pointer;
    color: #c59a6d;
    margin-bottom:50px;
}

.DownContainer i:hover{

    background-color: #c59a6d;
    color:white;
}
/*OurPartnes*/
.OurPartnersConteiner{
    background: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.479)), url("../imgs/partners.jpg") no-repeat center;
    width: 100%;
    height:500px;
    
    background-position-y: -530px;
}
.OurPartnersConteiner h1
{
    color:white;
    font-size:28px;
    font-weight: 400;
    text-align: center;
    align-content: center;
    line-height: 390px;
}
.OurPartnersConteiner h1::after{
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #c59a6d;
    margin: -140px auto;
    margin-bottom:40px;
}

.LogosCont{
 display: flex;
 flex-direction: row;
 width: 900px;
 justify-content: center;
 margin:0 auto;

}
.PartnerLogo{
    padding: 0;
    width: 191px;
    height: 102px;
}
.PartnerLogo:nth-child(1) {
    background-image: url("../imgs/1adidas.png");
 }
 .PartnerLogo:nth-child(2) {
    background-image: url("../imgs/2google.png");
 }
 .PartnerLogo:nth-child(3) {
    background-image: url("../imgs/3samsung.png");
 }
 .PartnerLogo:nth-child(4) {
    background-image: url("../imgs/4microsoft.png");
 }
 
 @media only screen and (max-width: 900px) {
    .LogosCont{
        
        width: 900px;
        justify-content: left;
        margin:0 auto;
       
       
    }
    .PartnerLogo{
   
        padding: 0;
        width: 103px;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left:-10px;
     
    }
   
  }

 /*aboutus*/
 #AboutUs
 {
    margin-top:100px;
    
 }
#AboutUs h2{
    text-align: center;
    
}
#AboutUs p{
    text-align: center;
    line-height: 30px;
    margin-bottom:100px;
}
.CrewContainer{
    display:flex;
    flex-direction: row;
}
.CrewMemberBox{
    width: 25%;
    height:400px;
    border: 1px solid #d8d9da;
    margin:0 15px;
}
.CrewMemberBox:hover{
    border: 1px solid #111111;
}


@media only screen and (max-width: 900px) {
    .CrewContainer{
        flex-direction: column;
        margin:0 auto;
        align-items: center;
    }
    .CrewMemberBox{
        margin-bottom:100px;
        width: 50% !important;
        
       
    }
   
  }


.goldenline{
   
    content: "";
 
    width: 90px;
    height: 2px;
    background-color: #c59a6d;
    margin: 30px auto;
    
    margin-top:118px;
  
  }

  
.MemberPic
{
    
    width: 150px;
    height: 150px;
 
    border-radius: 50%;
    background-size: cover;
    background-blend-mode: saturation;
    margin:auto;
    margin-top:70px;
    margin-bottom:20px;
    transition: 300ms;
    
}

.MemberPic.second {
    background-image:
    url("../imgs/team1_cebraililhan.jpg");
    -webkit-filter: grayscale(90%);
  
}
.MemberPic.thirt{
    background-image: 
    url("../imgs/team2_cebraililhan.jpg");
    -webkit-filter: grayscale(90%);
    
}
.MemberPic.Fourth{
    background-image: 
    url("../imgs/team3_cebraililhan.jpg");
    -webkit-filter: grayscale(90%);
}
.MemberPic h1{
    font-size:20px;
    color:grey;
    font-weight: 600;
    padding-top:190px;
    text-align: center;
    }
.MemberPic p{
    font-size:20px;
    color:grey;
    font-weight: 500;
    padding-top:10px;
    text-align: center;
    }


.CrewMemberBox:hover h1 {
        color:black;
 }
    
 .CrewMemberBox:hover p {
    color:black;
}

.CrewMemberBox:nth-child(4)
{
    border-color: #c59a6d;
    width: 200px;
    color: #c59a6d;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
.hiringH1{
    margin-top:100px;
    font-size:25px;
}
.CrewMemberBox h2{
    font-size:80px;
    font-weight: lighter;
}
.CrewMemberBox .hiring:hover{
    color:#c59a6d !important;
}

.DownContainer.team{
  margin-top:100px;
  margin-bottom:100px;
}

.contactheader{
    width: 100%;
    height:500px;
    background-image: url("../imgs/laptop.jpg");
    background-position: top;
    background-position-y: 0px;
    background-size: cover;
}
.contactheader h1{
    font-size:40px;
    color:white;
    margin:auto;
    text-align: center;
    padding-top:100px;
}
.contactheader .goldenline{
    margin-top:50px;
}
.contactheader p{
    margin-top:50px;
    text-align: center;
    color:white;
    font-size:25px;
    font-weight: lighter;
}
.footer{
    height:1000px;
    width: 100%;
    background-color:#282f35;
    display: flex;
}
.footerdiv{
    border-bottom: 3px solid #c59a6d ;
    color:white;
    font-size:15px;
    font-weight: 100px;
    letter-spacing: 2px;
    padding-left:50px;

    
}

.footerdiv p{ 
margin-top:10px;
    font-size:15px;
line-height: 40px;
color:White;
}
.footerdiv:nth-child(1){
 width: 500px;
}
.footerdiv:nth-child(2){
 
    width: calc(100% - 500px);
    
}

.adress{
    margin-top:270px
    
}
.logoscontainer i{
    margin-top:40px;
    font-size:25px;
    font-weight: lighter;

}
.copyright
{margin-top:380px;
 
}

.contactcus h1{
    color:white;
    font-size:26px;
    margin-top:100px;
    margin-left:133px;
    
}
.contactcus .goldenline{
    margin-top:40px;
    margin-left:185px;
}
.webformcontainer{
    width: 600px;
    display:flex;
    flex-wrap: wrap;
    margin-top:80px;
}
.formelement{
    
   
}
.textbox{
    
    width: 200px;
    height:30px;
    margin:16px;
    flex: 1 1 160px;
    background-color:#1e2429;
    color:#a8a9aa;

}
.textarea
{background-color:#1e2429;
    width:432px;
    height:100px;
    margin:16px;
    color:#a8a9aa;
    padding: 0.4em 0.4em 0.4em 0;
    resize: none;
   
}


textarea:focus, input:focus{
   outline: none;
    border-top: 1px solid #c59a6d ;
}
::-webkit-input-placeholder
{line-height: 1.5em;}
::placeholder {
   color:#a8a9aa;
   margin-top:-5px;
   padding-left: 1px;
  }

  .sendbutton{
      width:100px;
      height:30px;
      background-color: #c59a6d;
      color:white;
      margin-left:346px;
      text-align: center;
      line-height: 30px;
  }
  .backToTop
  {
    margin-left:310px;
    margin-top:288px;
  }
  .backToTop i{
      color:#c59a6d;
  }

  
@media only screen and (max-width: 900px) {
    .adress h1{
        margin-left:30px;
    }
    .webformcontainer{
        flex-direction: column;
        margin-left:50px;
    }
    .footer .textbox{
        width: 200px;
    }
    .footer .textarea{
        width:200px;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        height: 100%;
      
    }
    .sendbutton{
        margin: 0 auto;
    }
   .backToTop{
    margin-left:190px;
    
  margin-top:50px;
 
   }
    .contactcus h1{
        font-size:20px;
       margin-left:40%;
    }
    .contactcus .goldenline{
        
       margin-left:40%;
    }
    .footer p{
        font-size:10px;
        width: 60%;
        margin-left:30px;
    }
    .logoicon {
        margin-left:30px;
    }
    .footerfinal
    {height:20px;
    float:left;
margin-top:100px;}
    .footerdiv:nth-last-child(1){
       
        margin-left:-50px;
        padding:0;
        width: 300px;
  }
   
  }